<!--Extend Base File-->
{% extends 'shared/tower_base.html' %}

<!--Set Page-->
{% block active_page %}towerAbout{% endblock %}

<!--Set Page Title-->
{% block title %}About Us - OLIS Integrated LLC{% endblock %}

{% load static %}

{% block content %}
<div class="row g-2">
    <div class="col-12">
        <p class="display-6 fw-medium ms-2 mb-0">About Us - Company Structure & Expertise</p>
        <p class="fs-5 lead ms-2 mt-0"><small><em>Gain Insights on Our Mission & Vision Statement, Team and Expertise...</em></small></p>

        <div class="col-12">     
            <a href="#mission" class="btn btn-outline-primary">OUR MISSION</a>
            <a href="#vision" class="btn btn-outline-primary">OUR VISION</a>
            <a href="#team" class="btn btn-outline-primary">POWERHOUSE TEAM</a>
            <a href="#pm" class="btn btn-outline-primary">PROJECT MANAGEMENT</a>
            <hr>
        </div>       
        <div class="col-12 justify-content-start">            
              <!--Mission Statement-->
            <p class="fs-2 ms-1 text-white" id="mission">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16">
                    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
                </svg> OUR MISSION
            </p>
            <p class="fs-5 ms-2 text-secondary-emphasis">
                At the core of our purpose lies the commitment to deliver precisely tailored, cost-effective, and impeccably reliable IT
                solutions to each and every one of our valued clients. Our mission transcends conventional norms as we relentlessly
                strive to not only meet but consistently surpass client expectations. We achieve this through the creation of
                unparalleled value that elevates system functionality and operational efficiency to unprecedented levels.
            </p>
            <hr>
            <!--Vision Statement-->
            <p class="fs-2 ms-1 text-white" id="vision">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-2-circle" viewBox="0 0 16 16">
                    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
                </svg> OUR VISION
            </p>
            <p class="fs-5 ms-2">
                We envision ourselves as the definitive leader in the realm of IT solutions, both within Nigeria and on a global scale.
                Our vision extends across the spectrum of ICT Infrastructure Supply, Installation, and Maintenance, Telecommunications,
                Project Management, IT Consultancy, and IT Training. With an unwavering focus on innovation, we aim to set a new
                standard for excellence that redefines the landscape of IT solution provision.
            </p>
            <hr>
            <!--Team-->
            <p class="fs-2 ms-1 text-white" id="team">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-3-circle" viewBox="0 0 16 16">
                    <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                </svg> POWERHOUSE TEAM
            </p>
            <p class="fs-5 ms-2">
                Our team is composed of seasoned professionals who unite their proven hands-on technical expertise and seasoned
                management acumen. This synergy ensures that our clients are the recipients of the most effective, proficient, and
                professional services in the industry.
            </p>
            <hr>
            <!--Project Management-->
            <p class="fs-2 ms-1 text-white" id="pm">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-4-circle" viewBox="0 0 16 16">
                    <path d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                </svg> EXPERT PROJECT MANAGEMENT
            </p>
            <p class="fs-5 ms-2">
                Our team of Project Managers and Coordinators are not just qualified professionals, but visionaries. Armed with
                extensive experience, they lead each endeavor with precision, translating complex concepts into reality. Their dynamic
                approach ensures seamless execution, exceeding expectations and redefining the standards of project management
                excellence.
            </p>
            <!--Conclusion-->
            <p class="fs-5 fw-bolder ms-2">
                This is our commitment. This is our pursuit. We embrace the challenge of shaping an IT landscape that sets new
                precedents and propels industries toward unparalleled growth and success.
            </p>
        </div>
    </div>
</div>
{% endblock %}